/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  overflow-x: hidden;
}

#sider::-webkit-scrollbar {
  display: none;
}

/* 스크롤바 트랙 (바탕) 스타일 */
::-webkit-scrollbar-track {
  background: #eceff1; /* 트랙의 배경 색상 */
}

/* 스크롤바 핸들 (움직이는 부분) 스타일 */
::-webkit-scrollbar-thumb {
  background: #cfd8dc; /* 핸들의 배경 색상 */

  border-radius: 20px 20px 20px 20px;
}
